<div>
  <h2 class="text-slate-800 mb-5 text-lg md:text-xl font-semibold text-center">Captcha Generator</h2>
  <input class="captcha_box h-[45px] w-full rounded-md bg-slate-100 border border-slate-300 text-2xl font-medium px-4" type="text" value="5 x 8 9 H 0" disabled>
  
  <button class="refresh_btn absolute top-[80px] right-8 bg-[#826afb] h-[30px] w-[30px] rounded-md text-white active:scale-90">
    <i class="fa-solid fa-rotate-right"></i>
  </button>
</div>

<div>
  <input class="captcha_inp h-[45px] w-full rounded-md bg-transparent border border-slate-300 text-lg font-normal outline-none px-4" type="text" placeholder="Enter code">
  <h2 class="message text-base my-3 text-[#826afb] hidden">Entered captcha is correct</h2>
</div>